#!/usr/bin/make -f

%:
	dh $@ --with python3


override_dh_auto_build:
	python3 setup.py build

override_dh_auto_install:
	python3 setup.py install --root=debian/python-democraticd --install-layout=deb

override_dh_auto_clean:
	python3 setup.py clean
	dh_clean
	rm -rf build
